<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 2 years of experience as a Software Developer, have worked
            at a large organization as well as a growing StartUp.
My research interests primarily lie in the area of Artificial Intelligence in Robotics, Bio-inspired Multi-agent systems, Autonomous Self driving cars, and Deep Reinforcement Learning Broadly.
My experience has largely been in the following domains of Machine Learning, Backend Server Development, Automation design, VR/AR Game Development.
        </p>
        <p>
           I am a self-motivated graduate student currently working on developing distributed algorithms for the Blinkyblocks autonomous system.
           I'm mostly intrigued to solve real world challenging problems.
           I am actively seeking Full-time Opportunities starting May 2021 to contribute and grow proactively in an Innovative and Collaborative Environment.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Presented research and proof-of-concept to convince Tinkerix team to use ML for SMS classification achieving 95% accuracy.
          </li>
          <li>
            Developed ML models for time series data built from behavior trees to identify failure classification for assembly tasks and presented on Robotic Sciences Systems 2020 .
    			</li>
			    <li>
	Performed benchmark experiments based on various RL algorithms using the Open-AI Fetch pick and place environment for the World Robotic Summit - Assembly Challenge.
			    </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
