<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 2 years of experience as a Software Developer, have worked
            at a large organization as well as a growing StartUp.
            My experience has largely been in the following domains of
            Virtual Reality Game Development, Sensor Integration, Backend Server Development, Automation design.
        </p>
        <p>
           I am a self-motivated graduate student focused on learning and contributing to the growing field of Data Science,
          always open to learn and work on new sustainable technologies.
           I'm mostly intrigued to solve real world challenging problems.
           I am looking for a summer(2020) internship role to contribute and grow proactively in an Innovative and Collaborative Environment.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Presented research and proof-of-concept to convince Tinkerix team to use ML for SMS classification achieving 95% accuracy.
          </li>
          <li>
            Automated health check automation for HSBC GBM KYC Team, reducing healthcheck time by tenfolds.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
