<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Self-Driving Cars</b>. It's an exciting time for Artificial Intelligence and Robotics.
			  </li>
			  <li>
				  <b>Swimming and Waterpolo</b>. I've led my swimming team in college to win a bronze medal inter-hostel Waterpolo competition.
			  </li>
			  <li>
				  <b>Mountain Biking and Hiking</b>. I live in Boulder, home to the Rocky mountains. I enjoy spending weekend getting lost in the woods.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Volunteer</h3>
		  <ul>
  			<li>
      Green Initiative at HSBC - Sapling plantation at Chaturshringi hill in Pune.
      </li>
      <li>
      Teaching Initiative at HSBC - Science Lab Setup and installment at Master Talent High School,
        Hyderabad.
        </li>
        <li>
    Sustainability Initiative at HSBC - Teaching high school students about Environmental
        awareness at Mount Banjara High School, Hyderabad.
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
          Successfully completed the Four Pass Loop(45km, Elevation - 12,000 ft.) in 2days at Aspen, Colorado.
  			</li>
  			<li>
  			  Successfully completed the World’s longest Zipline(2.84 km) at U.A.E.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
