<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Self-Driving Cars</b>. It's an exciting time for Artificial Intelligence and Robotics.
			  </li>
			  <li>
				  <b>Swimming and Waterpolo</b>. I've led my swimming team in college to win a bronze medal inter-hostel Waterpolo competition.
			  </li>
			  <li>
				  <b>Mountain Biking and Hiking</b>. I live in Boulder, home to the Rocky mountains. I enjoy spending weekend getting lost in the woods.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Projects</h3>
		  <ul>
  			<li>
      Face Recognition as a Service using Flask, Docker and Google Kubernetes Engine.
      </li>
      <li>
Autonomous F1/10th car using Realsense for perception and ROS to compete on challenges involving power drift, avoiding obstacles and backing out of a collision.
        </li>
        <li>
    Benchmarking Reinforcement Learning Algorithms for Multi-Agent Systems using OpenAI.
    		</li>
  		    </ul>
      </div>
    </div>
  </div>
</section>
